@import url(/style.css);

#main-canvas{
    border: 5px var(--cntcol) solid;
}

.input-fields{
    margin: 10px auto;
    display: flex;
    width: 600px;
    flex-direction: column;
    border: 5px solid var(--cntcol);
}

.input-header{
    padding: 5px 20px;
    padding-bottom: 15px;
    border-bottom: 4px solid var(--cntcol);
}

.input-label{
    display: flex;
}

.input-label span{
    flex: 1;
    width: fit-content;
    margin:5px;
    padding: 5px 20px;
    text-align: right;
}

.input-fields input{
    margin:5px;
    padding: 5px 20px;
    color: var(--cntcol);
    background-color: transparent;
    caret-color: var(--black);
}

.input-fields input:focus{
    outline: none;
    color: var(--black);
    background-color: var(--cntcol);
}

.input-fields input::placeholder{
    color: var(--cntcol);
}